<a href="https://colab.research.google.com/github/JJ-HMFIC/SWEA/blob/main/SWEA_D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var= int(input(''))
for i in range(0,var):
    print('#',end='')

3
###

In [ ]:
def cal(a,b):
  add = a+b
  sub = a-b
  mul = a*b
  div = a//b
  return add,sub,mul,div
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
add,sub,mul,div = cal(a,b)
print(add)
print(sub)
print(mul)
print(div)

8 3
11
5
24
2

In [ ]:
text = input()
print(text.upper())

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT

In [ ]:
num = int(input())
sum = 0
for i in range(1,num+1):
   sum += i
print(sum)

10
55

In [ ]:
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
print(a-b+1)

123 100
24

In [ ]:
tmp = int(input())
sum = 0
while(tmp>0):
  sum += tmp%10
  tmp = tmp//10
print(sum)

6789
30

In [ ]:
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
if(a+b==4):
  if(a==1):
    print('A')
  else:
    print('B')
elif(a>b):
  print('A')
else:
  print('B')

3 2
A

In [ ]:
for i in range(0,5):
  for j in range(0,5):
   if(i==j): print('#',end='')
   else: print('+',end='')
  print()

#++++
+#+++
++#++
+++#+
++++#

In [ ]:
iter = int(input())
one = []
two = []
for i in range(0,iter):
  tmp = input()
  tmp = tmp.split(' ')
  one.append(int(tmp[0]))
  two.append(int(tmp[1]))
for i in range(0,iter):
  print(f'#{i+1} {one[i]//two[i]} {one[i]%two[i]}')

3
9 2
15 6
369 15
#1 4 1
#2 2 3
#3 24 9

In [ ]:
iter = int(input())
text = []
for i in range(0,iter):
  max = 0
  tmp = input()
  tmp = tmp.split(' ')
  for j in range(0,10):
    if(int(tmp[j])>max):
      max = int(tmp[j])
  text.append(f'#{i+1} {max}')
for i in range(0,iter):
  print(text[i])

3
3 17 1 39 8 41 2 32 99 2
22 8 5 123 7 2 63 7 3 46
6 63 2 3 58 76 21 33 8 1
#1 99
#2 123
#3 76

In [ ]:
num = int(input())
for i in range(1,num+1):
  if(num%i==0):
    print(i,end=' ')

10
1 2 5 10

In [ ]:
iter = int(input())
one = []
two = []
for i in range(0,iter):
  tmp = input()
  tmp = tmp.split(' ')
  one.append(int(tmp[0]))
  two.append(int(tmp[1]))
for i in range(0,iter):
  print(f'#{i+1}',end=' ')
  if(one[i]>two[i]):
    print('>')
  elif(one[i]<two[i]):
    print('<')
  else:
    print('=')

3
3 8
7 7
369 123
#1 <
#2 =
#3 >

In [ ]:
tmp = input()

for i in tmp:
  print(ord(i)-64,end=' ')

# ord(i) : 하나의 문자를 인자로 받고 해당 문자에 해당하는 유니코드 정수를 반환
# chr(i) : 하나의 정수를 인자로 받고 해당 정수에 해당하는 유니코드 문자를 반환

ABC
1 2 3

In [ ]:
iter = int(input())
tmp = 1
for i in range(0,iter+1):
  print(tmp,end=' ')
  tmp *= 2

8
1 2 4 8 16 32 64 128 256

In [ ]:
iter = int(input())

for i in range(iter+1):
  print(iter, end = ' ')
  iter -= 1

8
8 7 6 5 4 3 2 1 0

In [ ]:
idx = int(input())
idx = idx//2
tmp = list(map(int,input().split()))
tmp.sort()
print(tmp[idx])

199
85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
58

In [ ]:
iter = int(input())
arr = []
for i in range(1,iter+1):
  tmp = list(map(int,input().split()))
  sum = 0
  for j in range(len(tmp)):
    if tmp[j]%2==1:
      sum += tmp[j]
  arr.append(sum)
for i in range(1, iter+1):
  print(f'#{i} {arr[i-1]}')

3
3 17 1 39 8 41 2 32 99 2
22 8 5 123 7 2 63 7 3 46
6 63 2 3 58 76 21 33 8 1
#1 200
#2 208
#3 121

In [5]:
iter = int(input())
arr = []
for i in range(iter):
  tmp = list(map(int,input().split()))
  avg = round(sum(tmp)/len(tmp))
  arr.append(avg)
for i in range(iter):
  print(f'#{i+1} {arr[i]}')

3
3 17 1 39 8 41 2 32 99 2
22 8 5 123 7 2 63 7 3 46
6 63 2 3 58 76 21 33 8 1
#1 24
#2 29
#3 27

In [12]:
data = {1:31,2:28,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}

iter = int(input())
arr = []
for i in range(iter):
  tmp = input()

  year = tmp[:4]
  month = tmp[4:6]
  day = tmp[6:]


  if(0<int(month)<=12 and 0<int(day)<=data[int(month)]):
    arr.append(year+'/'+month+'/'+day)
  else:
    arr.append(-1)


for i in range(iter):
  print(f'#{i+1} {arr[i]}')

3
22220228
20150002
01010101
#1 2222/02/28
#2 -1
#3 0101/01/01