<a href="https://colab.research.google.com/github/JJ-HMFIC/SWEA/blob/main/SWEA_D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1945.간단한 소인수분해
iter = int(input())
arr = []
for i in range(iter):
    arr = [0,0,0,0,0]
    num = int(input())

    while num != 1:
      if num % 11 ==0:
        arr[4]+=1
        num = num//11
      elif num %7 == 0:
        arr[3]+=1
        num = num//7
      elif num % 5 == 0:
        arr[2]+=1
        num = num//5
      elif num % 3 == 0:
        arr[1]+=1
        num = num//3
      elif num % 2 == 0:
        arr[0]+=1
        num = num//2
    print(f'#{i+1} {arr[0]} {arr[1]} {arr[2]} {arr[3]} {arr[4]}')

2
6791400
#1 3 2 2 3 1
1646400
#2 6 1 2 3 0

In [ ]:
#1928.Base64 Decoder
iter = int(input())

for i in range(iter):
    str = input()

In [ ]:
#1986.지그재그 숫자
iter = int(input())

for i in range(iter):
    num = int(input())
    sum = 0
    for j in range(1, num+1):
      sum += ((-1)**(j+1)) * j
    print(f'#{i+1} {sum}')

6

2
5
#1 3
6
#2 -3

In [ ]:
arr = set()
num = 1295
for i in str(num):
  arr.add(i)
print(arr, len(arr))

{'1', '9', '2', '5'} 4

In [ ]:
num = 2590
for i in str(num):
  arr.add(i)
print(arr, len(arr))

{'9', '8', '5', '1', '2', '0'} 6

In [ ]:
# 1288.새로운 불면증 치료법
iter = int(input())

for i in range(1,iter+1):
  num = int(input())
  arr = set()
  cnt = 1
  tmp = num
  while True:
    to_add = set(str(tmp)) # str 변환 -> 각 자리수를 set 에 추가
    arr.update(to_add) # 중복 제거하고 추가
    if len(arr) == 10:
      break
    cnt += 1
    tmp =num * cnt
  print(f'#{i} {tmp}')

1
1295
#1 7770

In [ ]:
  arr = set()
  cnt = 0
  base = 1
  num = int(input())
  tmp = num
  while((len(arr))!=10):
    for j in str(tmp):
      arr.add(int(j))
    cnt +=1
    tmp += num
  print(f'#{i} {cnt}')
  print(arr)

#1 3
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#1284.수도 요금 경쟁
T = int(input())
for i in range(1,T+1):
  num = list(map(int,input().split()))
  P = num[0] # 1리터당 P원 , A사
  Q = num[1] # 기본 요금 , B사
  R = num[2] # R리터 이하일 경우 기본요금
  S = num[3] # 초과 요금 S,
  W = num[4] # 한달간 리터 요금
  price_a = P*W
  price_b = lambda W: (W-R)*S+Q if W>R else Q
  result = min(price_a,price_b(W))

  print(f'#{i} {result}')

2
9 100 20 3 10
#1 90
8 300 100 10 250
#2 1800

In [ ]:
#1989. 초심자의 회문 검사
T = int(input())
for i in range(1,T+1):
  word = input()
  reverse = word[::-1]
  if word == reverse:
    print(f'#{i} 1')
  else:
    print(f'#{i} 0')

1
samsung
#1 0

In [ ]:
#1959. 두 개의 숫자열 ★★
T = int(input())

for test_case in range(1,T+1):
  N, M = map(int,input().split())

  A = list(map(int,input().split()))
  B = list(map(int,input().split()))
  max = 0
  if(N>M): # N과 A가 작은 숫자 및 배열이도록 유도한다
    N,M = M,N
    A,B = B,A

  for i in range(M-N+1): # 긴거에서 작은거 차이만큼
    sum = 0
    for j in range(N): # 작은 배열 순회
      sum += A[j] * B[i+j] # i+j = M+1
    if (sum>max):
      max = sum
  print(f'#{test_case} {max}')

1
3 5
1 5 3
3 6 -7 5 4
[1, 5, 3] [3, 6, -7, 5, 4] 3 5
#1 30

In [ ]:
#2007. 패턴 마디의 길이
T = int(input())

for test_case in range(1,T+1):
  iter = input()

In [ ]:
#1966. 숫자를 정렬하자
T = int(input())

for i in range(1,T+1):
  N = int(input())
  arr = list(map(int, input().split()))
  arr.sort()
  print(f'#{i} ',end='')
  for j in range(N):
    print(arr[j], end= ' ')
  print()

2
5
1 4 7 8 0
#1 0 1 4 7 8
5
1 4 7 8 0
#2 0 1 4 7 8

In [ ]:
#1948. 날짜 계산기 ★
days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

T = int(input())

for i in range(1,T+1):
  sum_b = 0
  sum_a = 0
  A,a,B,b = map(int,input().split())
  for j in range(B):
    sum_b += days[j]
  sum_b += b
  for j in range(A):
    sum_a += days[j]
  sum_a += a

  result = sum_b - sum_a +1
  print(f'#{i} {result}')

3
3 1 3 31
#1 31
5 5 8 15
#2 103
7 17 12 24
#3 161

In [ ]:
#1948. 날짜 계산기
days = [31,28,31,40,31,30,31,31,30,31,30,31]

T = int(input())

for test_case in range(1,T+1):
  sum = 0
  A,a,B,b = map(int,input().split())

  if(A==B):
    print(f'#{test_case} {b-a+1}')
  else:
    for i in range(A,B):
      sum += days[i-1]
    sum += b-a
    print(f'#{test_case} {sum}')

1
5 5 8 17
#1 104

In [ ]:
#979. 어디에 단어가 들어갈 수 있을까 ★★
T = int(input())

for test_case in range(1,T+1):
  N,K = map(int,input().split())
  arr=[list(map(int,input().split())) for iter in range(N)]
  result = 0

  for i in range(N):
    sum = 0

    for j in range(N): # 행 검사
      if arr[i][j] == 1: # 자리가 있다면 카운트
        sum += 1

      if arr[i][j]== 0 or j== N-1: # 자리가 없다면 or 끝에 다다르면
        if sum == K: # 그때 자리가 연속으로 k였다면
          result +=1 # 단어가 들어갈 자리 +1
        sum = 0 # 초기화(sum = k가 아니니까 처음부터 다시 or 끝에 도달해서 초기화)

    for j in range(N): # 열 검사 (마지막에 도달하면 sum=0으로 초기화 되어있음)
        if arr[j][i] == 1:
          sum+=1

        if arr[j][i] == 0 or j==N-1:
          if sum == K:
            result+=1
          sum = 0

  print(f'#{test_case} {result}')

1
5 3
0 0 1 1 1
1 1 1 1 0
0 0 1 0 0
0 1 1 1 1
1 1 1 0 1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
2
3
3
3
3
3
3
3
#1 3

In [ ]:
# 1940. 가랏! RC카!
T = int(input())

for test_case in range(1,T+1):

    N = int(input())
    spd = 0
    dis = 0

    for i in range(N):
        arr = list(map(int,input().split())) # command

        if(arr[0]==1): # 가속
            spd += arr[1]
        elif(arr[0]==2): # 감속
            spd -=arr[1]
            if(spd<0):
                spd = 0

        dis += spd

    print(f'#{test_case} {dis}')

In [ ]:
# 1961. 숫자 배열 회전 ★★
T = int(input())

for test_case in range(1,T+1):
    N = int(input())
    arr = [list(map(int,input().split())) for iter in range(N)]

    arr_90 = [[0 for _ in range(N)] for _ in range(N)]
    arr_180 = [[0 for _ in range(N)] for _ in range(N)]
    arr_270 = [[0 for _ in range(N)] for _ in range(N)]

    for i in range(N):
        for j in range(N):
            arr_90[i][j] = arr[N-1-j][i]


    for i in range(N):
        for j in range(N):
            arr_180[i][j] = arr_90[N-1-j][i]


    for i in range(N):
        for j in range(N):
            arr_270[i][j] = arr_180[N-1-j][i]


    print(f'#{test_case}')

    for i in range(N):
        for j in range(N):
            print(arr_90[i][j],end='')
        print(end=' ')
        for j in range(N):
            print(arr_180[i][j],end='')
        print(end=' ')
        for j in range(N):
            print(arr_270[i][j],end='')
        print()

1
3
1 2 3
4 5 6
7 8 9
#1
741 987 369
852 654 258
963 321 147

In [ ]:
#1954. 달팽이 숫자 ★★★★
T = int(input())
#   → ↓ ← ↑
di = [0,1,0,-1]
dj = [1,0,-1,0]
# 처음 방향 → i 그대로 j 증가
# 방향 ↓ i 증가 j 그대로
# 방향 ← i 그대로  j 감소
# 방향 ↑ i 감소 j 그대로

for test_case in range(1,T+1):
    N = int(input())
    arr = [[0 for i in range(N)] for j in range(N)]
    cnt = 1

    i, j, dr = 0,0,0 #dr = 방향
    arr[i][j] = cnt
    cnt+=1

    while cnt<=N*N:
        ni, nj = i+di[dr] , j+dj[dr] # next i, next j
        if 0<=ni<N and 0<=nj<N and arr[ni][nj] == 0: # 범위 내 & 그 값이 0이라면
            i,j = ni,nj
            arr[i][j] = cnt
            cnt+=1
        else: # 범위 밖이라면 방향을 전환
            dr = (dr+1)%4

    print(f'#{test_case}')
    for lst in arr:
        print(*lst)

In [ ]:
#2001. 파리 퇴치
T = int(input())

for test_case in range(1,T+1):
    N,M = map(int,input().split())
    arr = [list(map(int,input().split())) for _ in range(N)]


    max = 0

    for i in range(N-M+1):
        for j in range(N-M+1):
            sum = 0

            for si in range(i,i+M):
                for sj in range(j,j+M):
                    sum+= arr[si][sj]
            if max<sum:
                max = sum
    print(f'#{test_case} {max}')

1
5 2
1 3 3 6 7
8 13 9 12 8
4 16 11 12 6
2 4 1 23 2
9 13 4 7 3
#1 49

In [ ]:
#1974. 스도쿠 검증

T = int(input())
for test_case in range(1,T+1):
    arr = [list(map(int, input().split())) for _ in range(9)]
    result = []
    for i in range(9): # 가로
        tmp = set()
        for j in range(9):
            tmp.add(arr[i][j])
        if len(tmp) == 9:
            result.append(1)
        else :
            result.append(0)

    for i in range(9): # 세로
        tmp = set()
        for j in range(9):
            tmp.add(arr[j][i])
        if len(tmp) == 9:
            result.append(1)
        else :
            result.append(0)

    for i in range(0,9,3): # 3*3
        for j in range(0,9,3):
            tmp = arr[i][j:j+3] + arr[i+1][j:j+3] + arr[i+2][j:j+3]
        if len(set(tmp)) == 9:
            result.append(1)
        else:
            result.append(0)
    ans = 0
    if 1 in result:
        ans = 1
    print(f'#{test_case} {ans}')

1
7 3 6 4 2 9 5 8 1
5 8 9 1 6 7 3 2 4
2 1 4 5 8 3 6 9 7
8 4 7 9 3 6 1 5 2
1 5 3 8 4 2 9 7 6
9 6 2 7 5 1 8 4 3
4 2 1 3 9 8 7 6 5
3 9 5 6 7 4 2 1 8
6 7 8 2 1 5 4 3 9
#1 1

In [ ]:
def solve():
    for lst in arr:
        if len(set(lst)) != N: # 가로
            return 0

    arr1 = list(zip(*arr)) # 전치행렬 ~ 가로와 세로를 바꾸어 => 세로 검색
    for lst in arr1: # 세로
        if len(set(lst)) != N:
            return 0

    for i in range(0, 9, 3):
        for j in range(0, 9, 3):
            lst = arr[i][j:j+3] + arr[i+1][j:j+3] + arr[i+2][j:j+3] # 1행 2행 3행 3*3 행렬
            if len(set(lst)) != N:
                return 0

    return 1

T = int(input())
for test_case in range(1, T + 1):
    N = 9
    arr = [list(map(int, input().split())) for _ in range(N)]

    ans = solve()

    print(f'#{test_case} {ans}')

In [ ]:
#2005. 파스칼의 삼각형

T = int(input())
for test_case in range(1, T + 1):

    N = int(input())

    arr = [[0 for i in range(N)] for _ in range(N)]

    for i in range(N):
        arr[i][0] = 1

        for j in range(0,i+1):
            if i == j:
                arr[i][j] = 1
            else:
                arr[i][j] = arr[i-1][j-1] + arr[i-1][j]
    print(f'#{test_case}')
    for i in range(N):
        for j in range(N):
            if arr[i][j] == 0:
                continue
            print(f'{arr[i][j]}',end= ' ')
        print()

1
4
#1
1
1 1
1 2 1
1 3 3 1

In [ ]:
#1976. 시각 덧셈

T = int(input())
for test_case in range(1, T + 1):
    arr = list(map(int,input().split()))
    min = arr[1] + arr[3]
    hour = arr[0]+arr[2]
    if min > 59:
        min -= 60
        hour += 1
    if hour > 12:
        hour -= 12
    print(f'#{test_case} {hour} {min}')

1
8 22 5 10
# 1 1 32

In [ ]:
#1926. 간단한 369게임
clap = ['3','6','9']
N = int(input())
for i in range(1,N+1):
    cnt = 0
    for j in str(i):
        if j in clap:
            cnt+=1
    if cnt > 0:
        i = '-'*cnt

    print(i,end=' ')

In [ ]:
#count 함수 활용
N = int(input())
for i in range(1,N+1):
    i = str(i)
    clap = i.count('3') + i.count('6') +i.count('9')

    if clap ==0:
        print(i, end =' ')
    else:
        print('-'*clap, end=' ')

In [2]:
# 1970. 쉬운 거스름돈
T = int(input())
for test_case in range(1, T + 1):
    money = int(input())
    arr = []
    arr.append(money//50000)
    money = money % 50000
    arr.append(money//10000)
    money = money % 10000
    arr.append(money//5000)
    money = money % 5000
    arr.append(money//1000)
    money = money % 1000
    arr.append(money//500)
    money = money % 500
    arr.append(money//100)
    money = money % 100
    arr.append(money//50)
    money = money % 50
    arr.append(money//10)
    money = money % 10
    print(f'#{test_case}')
    for i in range(len(arr)):
        print(arr[i], end = ' ')
    print()

1
32850
0 3 0 2 1 3 1 0

In [ ]:
#1983. 조교의 성적 매기기
T = int(input())
grade = ['A+', 'A0', 'A-', 'B+', 'B0', 'B-', 'C+', 'C0', 'C-', 'D0']
for test_case in range(1, T + 1):
    N,K = map(int,input().split())
    arr = []
    for i in range(N):
        mid,final,asg =  map(int,input().split())
        score = mid *0.35 + final*0.45+ asg*0.2
        arr.append(score)

    tmp = arr[K-1]
    arr.sort(reverse = True)

    div = N//10 # div 명씩 같은 학점 부여 가능

    idx = arr.index(tmp) # 정렬된 인덱스 반환 = 등수 -1 , 1등이면 0 반환
    output = grade[idx//div]



    print(f'#{test_case} {output}')

In [6]:
# 1946. 간단한 압축 풀기
T = int(input())
for test_case in range(1, T + 1):
    N = int(input())
    text = ""
    for i in range(N):
        C, K = input().split()
        text += C * int(K)

    print(f'#{test_case}')
    for i in range(0,len(text), 10):
        print(text[i:i+10])

1
3
a 10
b 7
c 5
#1
aaaaaaaaaa
bbbbbbbccc
cc

In [ ]:
#1204. [S/W 문제해결 기본] 1일차 - 최빈수 구하기

T = int(input())
for test_case in range(1, T + 1):
    N = int(input())
    score = list(map(int, input().split())) #점수 리스트

    cnt = dict() # 빈도수 : 점수
    for i in set(score): # 중복방지 set -> 순수 점수만
        key = score.count(i) # 점수가 몇 번 나왔는지 ~ 최빈값 측정

        if key in cnt: # 빈도수가 같다면
            cnt[key] = max(cnt[key], i) # 최빈값 중 큰 수를
        else:
            cnt[key] = i

    print(f'#{test_case} {cnt[max(cnt)]}')
    # max(dict) => key 값 중 가장 큰 값 반환
    # 가장 큰 키값(빈도수)의 value 반환

In [7]:
abc = {1:2,2:3}
max(abc)

2