In [ ]:
var= int(input(''))
for i in range(0,var):
    print('#',end='')

3
###

In [ ]:
def cal(a,b):
  add = a+b
  sub = a-b
  mul = a*b
  div = a//b
  return add,sub,mul,div
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
add,sub,mul,div = cal(a,b)
print(add)
print(sub)
print(mul)
print(div)

8 3
11
5
24
2

In [ ]:
text = input()
print(text.upper())

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT

In [ ]:
num = int(input())
sum = 0
for i in range(1,num+1):
   sum += i
print(sum)

10
55

In [ ]:
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
print(a-b+1)

123 100
24

In [ ]:
tmp = int(input())
sum = 0
while(tmp>0):
  sum += tmp%10
  tmp = tmp//10
print(sum)

6789
30

In [ ]:
tmp = input()
tmp = tmp.split(' ')
a = int(tmp[0])
b = int(tmp[1])
if(a+b==4):
  if(a==1):
    print('A')
  else:
    print('B')
elif(a>b):
  print('A')
else:
  print('B')

3 2
A

In [ ]:
for i in range(0,5):
  for j in range(0,5):
   if(i==j): print('#',end='')
   else: print('+',end='')
  print()

#++++
+#+++
++#++
+++#+
++++#

In [ ]:
iter = int(input())
one = []
two = []
for i in range(0,iter):
  tmp = input()
  tmp = tmp.split(' ')
  one.append(int(tmp[0]))
  two.append(int(tmp[1]))
for i in range(0,iter):
  print(f'#{i+1} {one[i]//two[i]} {one[i]%two[i]}')

3
9 2
15 6
369 15
#1 4 1
#2 2 3
#3 24 9

In [ ]:
iter = int(input())
text = []
for i in range(0,iter):
  max = 0
  tmp = input()
  tmp = tmp.split(' ')
  for j in range(0,10):
    if(int(tmp[j])>max):
      max = int(tmp[j])
  text.append(f'#{i+1} {max}')
for i in range(0,iter):
  print(text[i])

3
3 17 1 39 8 41 2 32 99 2
22 8 5 123 7 2 63 7 3 46
6 63 2 3 58 76 21 33 8 1
#1 99
#2 123
#3 76

In [ ]:
num = int(input())
for i in range(1,num+1):
  if(num%i==0):
    print(i,end=' ')

10
1 2 5 10

In [ ]:
iter = int(input())
one = []
two = []
for i in range(0,iter):
  tmp = input()
  tmp = tmp.split(' ')
  one.append(int(tmp[0]))
  two.append(int(tmp[1]))
for i in range(0,iter):
  print(f'#{i+1}',end=' ')
  if(one[i]>two[i]):
    print('>')
  elif(one[i]<two[i]):
    print('<')
  else:
    print('=')

3
3 8
7 7
369 123
#1 <
#2 =
#3 >